 ðŸ§¹Titanic Dataset â€” Data Cleaning & Feature Engineering

 Name: B. Manohar

Phone Number: 8074386315

Domain: AIML

In [16]:
#Import Required Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [17]:
# Example: Load Titanic dataset (after cleaning & feature engineering)
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

# Data Cleaning
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Encode categorical variables
label_encoders = {}
for column in ['Sex', 'Embarked']:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# Feature Matrix and Target Variable
X = df.drop('Survived', axis=1)
y = df['Survived']

In [18]:
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
#Data Cleaning
# Drop unnecessary columns
df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'], inplace=True)

# Fill missing values
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [20]:
#Encode Categorical Variables
label_encoders = {}

for column in ['Sex', 'Embarked']:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

In [21]:
#Split Data into Features and Target
X = df.drop('Survived', axis=1)
y = df['Survived']

In [22]:
#Train-Test Split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [23]:
#Apply Linear Regression
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_test)
y_pred_lr_class = np.where(y_pred_lr >= 0.5, 1, 0)

print("Linear Regression:")
print(f"  MSE: {mean_squared_error(y_test, y_pred_lr):.4f}")
print(f"  RÂ² Score: {r2_score(y_test, y_pred_lr):.4f}")
print(f"  Accuracy (rounded): {accuracy_score(y_test, y_pred_lr_class):.4f}")

Linear Regression:
  MSE: 0.1352
  RÂ² Score: 0.4425
  Accuracy (rounded): 0.7933

In [24]:
#Apply Decision Tree Classifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, y_train)

y_pred_dt = dt.predict(X_test)

print("Decision Tree Classifier:")
print(f"  MSE: {mean_squared_error(y_test, y_pred_dt):.4f}")
print(f"  RÂ² Score: {r2_score(y_test, y_pred_dt):.4f}")
print(f"  Accuracy: {accuracy_score(y_test, y_pred_dt):.4f}")

Decision Tree Classifier:
  MSE: 0.2179
  RÂ² Score: 0.1015
  Accuracy: 0.7821

âœ… Conclusion

Even though Linear Regression is not ideal for classification, it can still provide baseline insights. The Decision Tree Classifier should give more meaningful classification performance.